@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Font families */
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-display: swap;
  src:
    url('./assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/barlow-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  src:
    url('./assets/fonts/barlow-v12-latin-500.woff2') format('woff2'),
    url('./assets/fonts/barlow-v12-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  src:
    url('./assets/fonts/barlow-v12-latin-600.woff2') format('woff2'),
    url('./assets/fonts/barlow-v12-latin-600.woff') format('woff');
}

/* Mobile first */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Barlow", "Arial", sans-serif;
  background-color: #252836;
  color: #E0E6E9;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Sticky footer */
.site-main {
  flex-grow: 1;
}

.pending {
  stroke: #ea7c69;
}

.main-navbar__item * {
  box-sizing: content-box;
}

.active {
  @apply bg-[#252836] rounded-s-xl text-white
}

.active * {
  @apply bg-[#EA7C69] rounded-xl;
  box-shadow: 0px 8px 24px 0px #ea7c6952;
  fill: #fff;
}

.home-link-active {
  @apply text-[#EA7C69]
}

.home-link-active span {
  background-color: #EA7C69;
}

.template {
  color: #EA7C69;
}

.dishes__select {
  padding: 15px 14px 15px 44px !important;
  background-image: url("/public/icons/arrowdown.svg") !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position: 14px !important;
  border-radius: 8px !important;
  border: 1px solid #393C49 !important;
  background-color: #1F1D2B !important;
}

.active__radio {
  background-color: #ea7c69;
  color: #fff;
}

.meal__types:checked+span {
  background-color: #ea7c69;
  color: #fff;
  border-color: #ea7c69;
}

.btn {
  @apply h-auto min-h-min
}

.home__delete-btn {
  @apply border-[#FF7CA3]
}

input {
  @apply border-0 focus:ring-0;
}

.method__types:checked+span {
  @apply font-medium bg-[#252836] border-[#ABBBC2] text-white;
}

.method__types:checked+span::before {
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../public/images/checkmark-circle.png");
  content: "";
}

.buttons__shadow {
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.40);
}